<div fxLayout="column wrap" fxLayoutGap="16px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div style="text-align:center">
    <h3>Add Incident</h3>
  </div>
  <form [formGroup]="incidentform">
    <div fxLayout="column wrap" fxLayoutGap="16px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
        <input matInput placeholder="Enter Subject" [required]="true" formControlName="subject">
        <mat-error align="end" *ngIf="incidentform.controls.subject.errors?.pattern">Only alphabet!</mat-error>
        <mat-error align="end" *ngIf="incidentform.controls.subject.errors?.required">Fill this field!</mat-error>
      </mat-form-field>
      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
        <input matInput placeholder="Enter Description" [required]="true" formControlName="description">
        <mat-error align="end" *ngIf="incidentform.controls.description.errors?.pattern">Only alphabet and numbers!</mat-error>
        <mat-error align="end" *ngIf="incidentform.controls.description.errors?.required">Fill this field!</mat-error>
      </mat-form-field>
      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
        <input matInput placeholder="Enter Priority" [required]="true" formControlName="priority">
        <mat-error align="end" *ngIf="incidentform.controls.priority.errors?.pattern || incidentform.controls.priority.errors?.min || incidentform.controls.priority.errors?.max">Must be number between 1 and 5</mat-error>
        <mat-error align="end" *ngIf="incidentform.controls.priority.errors?.required">Fill this field!</mat-error>
      </mat-form-field>
      <mat-form-field [appearance]="&apos;outline&apos;">
        <input matInput placeholder="Choose Incident Date" [matDatepicker]="picker" formControlName="incidentdate" [min]="date" [required]="true" [disabled]="false">
        <mat-datepicker-toggle matSuffix [for]="picker" disabled="false"></mat-datepicker-toggle>
        <mat-datepicker #picker type="date" [disabled]="false"></mat-datepicker>
        <mat-error align="end" *ngIf="incidentform.controls.incidentdate.errors?.required">Fill this field!</mat-error>
      </mat-form-field><button mat-raised-button color="primary" (click)="onSubmit()" type="submit">Submit</button>
    </div>
  </form>
</div>