/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    font-family: Work Sans;
}

.header {
    background-color: #FBD54A;
    padding: 0 16px;
}